@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,900;1,600&family=Roboto+Slab:wght@200;300;400;500;700&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(52, 9, 9);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    /* margin-top: 100px; */
    /* color: #abd1f8; */
}

.search-box-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 20px; */
    /* flex-direction: row; */
    font-family: 'Roboto Slab', serif;
    background-color: #770303;
    color: rgb(128, 73, 7);
    padding: 20px;
    border-radius: 7px;
    margin-top: 75px;
}

.search-header {
    font-weight: 700;
    margin-bottom: auto;
    display: block;
    color: gold;
    padding-left: 20px;
    letter-spacing: 2px;
    font-style: italic;
}

.search-box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-weight: 200;
    padding: 20px;
    /* margin-bottom: 20px;
    flex-direction: row;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    background-color: #4c1919;
    border-radius: 4px; */
    /* color: rgb(128, 73, 7); */
}

.search {
    padding: 10px;
    border: 1.4px solid goldenrod;
    background-color: bisque;
    color: #770303;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    width: 300px;
}

.search::placeholder {
    color: #770303;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    
}

.sort {
    padding: 20px 20px;
    border: 1.4px solid goldenrod;
    border-radius: 3px;
    margin-right: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #770303;
    background-color: rgb(255, 228, 196);
    height: 37px;
}

.movies {
    list-style: none;
    /* text-align: center; */
    margin-top: 20px;
    color:#0f68c0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /* align-items: flex-start; */
    justify-content: center;
}

.movie {
    /* display:block; */
    background-color: #770303;
    padding: 10px;
    border: 3px solid goldenrod;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-style: italic;
    padding-top: 20px;
}

/* .movie p {
    text-align: left;
    padding-right: 10px;
} */

.movie:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.movie a {
    text-decoration: none;
    list-style: none;
    /* text-align: center; */
    margin-top: 20px;
    color:rgb(254, 239, 220);
}